@font-face {
    font-family: 'Whitney';
    src: url('./Assets/fonts/whitney-light.otf') format('otf');

    font-family: 'Whitney Medium';
    src: url('./Assets/fonts/whitney-medium.otf') format('otf');
}


/* Global Styling */
a {
    text-decoration: none;
    color: #222;
}


h2 {
    font-family: 'Crimson Pro';
    font-size: 48px;
    font-weight: 400;
    color: #313131;
}


h3 {
    font-family: 'Crimson Pro';
    font-size: 40px;
    font-weight: 400;
    color: #313131;
}


span {
    font-family: 'EB Garamond';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #313131;
}


p {
    font-family: 'EB Garamond';
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: #313131;
}


.button {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 12px 22px;
    border: 1px solid #222;
    font-family: 'Crimson Pro';
    font-size: 16px;
    font-weight: 400;
    width: max-content;

    & span {
        height: 22px;
    }
}

/* ============================ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


.nav {
    background-color: #F3EEE7;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 32px;
}


.nav__links {
    display: flex;
    column-gap: 24px;
}


.nav__link {
    font-family: 'Whitney';
    font-size: 18px;
    font-weight: 300;
    color: #313131;
    text-decoration: none;
    position: relative;
}


/* Animate state hover for navagation link */
.nav__link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    bottom: -4px;
    left: 0;
    background-color: #222;
    transition: transform .3s;
    transform-origin: bottom right;
}


.nav__link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* =========================== */


.nav__primary-btn {
    background-color: #E6E2DB;
    border: 1px solid #4D4C4B;
    padding: 9px 40px;
    transition: .25s all;

    &:hover {
        background-color: #4D4C4B;
        color: #E6E2DB;
    }
}


/* Hero section */
.hero {
    display: flex;
    justify-content: center;
    background-image: url('./Assets/images/Hero\ BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    padding: 0 5%;
}

.hero h1 {
    margin-top: 15vh;
    font-family: 'Crimson Pro';
    font-weight: 200;
    font-size: min(7.5vw, 120px);
    max-width: 100%;
    text-wrap: nowrap;
    text-align: center;
}

.hero span {
    padding: 0 22px;
}

/* ================================ */


/* Marquee section */
.marquee {
    overflow: hidden;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    display: flex;
    background-color: #313131;
}


.marquee p {
    font-family: 'Crimson Pro';
    font-size: 16px;
    color: #F3EEE7;
    padding: 16px 32px;
    white-space: nowrap;
    text-transform: uppercase;
}

/* ================================= */


/* About section */
.about {
    background-color: #F3EEE7;
}


.about--container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 12% 6%;
}


.about__top {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    margin-bottom: 150px;
}


.top__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 11px;
    width: 40%;

    & .button {
        margin-top: 48px;
    }
}


.top__image {
    width: 60%;
}


.top__image img {
    width: 100%;
}


.about__bottom {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: -280px;
}


.bottom__image {
    width: 55%;
}


.bottom__image img {
    width: 100%;
}


.bottom__content {
    width: 45%;
    margin-bottom: -50px;
    padding-left: 100px;
}


/* ================================= */


/* Gallery section */
.gallery {
    width: 100%;
    max-width: 1440px;
    margin: 130px auto 0;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.swiper {
    width: 100%;
    height: 90vh;
}






/* ================================== */


/* Accommodation section */
.accommodation {
    width: 100%;
    max-width: 1440px;
    margin: 130px auto 0;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}


.accommodation__image {
    width: 40%;
}


.accommodation__content {
    width: 60%;
}


.sub-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    padding: 18px 0;
    margin: 40px 0 64px;
}


.sub-title {
    text-transform: uppercase;
}


.properties {
    display: flex;
    justify-content: space-between;
}


.properties__column ol {
    list-style-type: decimal;
}


.properties__column ol li {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
}


.properties__column:nth-child(1) ol {
    counter-reset: item 0;
    list-style: none;
}


.properties__column:nth-child(2) ol {
    counter-reset: item 7;
    list-style: none;
}


.properties__column li:before {
    content: counter(item) ". ";
    counter-increment: item;
}

/* ================================== */


/* Spa section
    Dinning section
    Activities section */
.spa,
.dinning {
    width: 100%;
    max-width: 1440px;
    margin: 300px auto;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}


.spa__image,
.dinning__image,
.activities__image {
    width: 40%;
}


.spa__content,
.dinning__content,
.activities__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 60%;
}

/* ================================== */


/* Activities section */
.activities {
    background-color: #F3EEE7;
}


.activities--container {
    width: 100%;
    max-width: 1440px;
    margin: 170px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 10% 6%;
}

/* ================================== */


/* CTA section */
.cta {
    width: 100%;
    max-width: 1440px;
    margin: 160px auto;
    padding-left: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}


.form-booking {
    width: 50%;
}


.form-booking form {
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-top: 60px;
}


.form-booking form .name__field,
.form-booking form .phone__field,
.form-booking form .check-in__field,
.form-booking form .check-out__field {
    position: relative;
}


.form-booking form label {
    position: absolute;
    top: -12px;
    left: 16px;
    background-color: #fff;
    font-family: 'Crimson Pro';
    font-size: 18px;
    font-weight: 400;
}


.form-booking form input {
    width: 100%;
    padding: 16px;
    border: 1px solid #313131;
    border-radius: 3px;
}


.form-booking form input::placeholder {
    font-family: 'Crimson Pro';
    font-size: 16px;
    font-weight: 400;
    color: #31313180;
}


.form-booking form input[type="date"] {
    font-family: 'Crimson Pro';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #31313180;
}


.form-booking form .check_in_out--container {
    display: flex;
    gap: 20px;

    & .check-in__field,
    & .check-out__field {
        width: calc(100% /2);
    }
}


.form-booking form .button {
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    background-color: #E6E2DB;
    border: 1px solid #4D4C4B;
    border-radius: 3px;
    padding: 16px auto;
    transition: .25s all;

    &:hover {
        background-color: #4D4C4B;
        color: #E6E2DB;
    }
}

#map {
    width: 50%;
    height: 880px;
}


.direction{
    margin-top: 72px;
}


.direction__properties{
    display: flex;
    justify-content: space-between;
    gap: 64px;
    border-top: 1px solid #D6D3D1;
    padding-top: 27px;
    margin-top: 16px;
}

.direction__properties .column--1{
    display: flex;
    align-items: start;
    gap: 12px;
}


.direction__properties .column--1 li,
.direction__properties .column--2 {
    list-style: none;
    margin-bottom: 18px;
    font-family: 'EB Garamond';
    font-size: 16px;
    font-weight: 400;
    color: #313131;
}


.direction__properties .column--2{
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.direction__properties .column--2 .col_row{
    display: flex;
    align-items: center;
    gap: 12px;
}
/* ================================== */